html,
body {
	background-color: #f0f2f5;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.ant-layout {
	height: 120vh;
}

.ant-layout-content {
	height: 100vh;
}

.ant-layout-header {
	background: #ffffff !important;
	height: 50px !important;
	line-height: 50px !important;
}

.logo-style {
	float: right;
	margin-right: 20px;
	font-size: 1rem;
	font-weight: 500;
}

.logo-style:hover {
	cursor: pointer;
}

.ant-alert-banner {
	margin-bottom: 40px !important;
}

.page-wrapper {
	margin: 20px;
	min-width: 400px;
}

h1 {
	font-size: 2rem;
	margin-bottom: 8px !important;
}

p {
	font-size: 1rem;
	margin-bottom: 4px !important;
}

.ant-spin {
	font-size: 1.5rem !important;
}

@media (max-width: 500px) {
	.ant-layout {
		width: 650px !important;
	}
}

.ant-layout-sider {
	background-color: #ffffff !important;
}

@media (max-width: 500px) {
	.ant-layout-sider {
		height: 200vh;
		background-color: #f0f2f5 !important;
	}
}
@media (max-width: 500px) {
	.ant-modal-content {
		width: 450px !important;
	}
}

.chain-list-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.chain-list-styled {
	padding: 40px 10px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	background-color: #ECECEC;
}

.block-card-style {
	display: inline-block;
	margin: 0 10px;
}

.block-card-style span {
	display: block;
	font-size: 0.7rem;
	color: #8c8c8c;
}

.bt > span {
	color: unset !important;
	font-size: unset !important;
}
