html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.ant-layout {
	/* background-color: #FFFFFF !important; */
	height: 120vh;
}

.ant-layout-content {
	height: 100vh;
}

.ant-layout-header {
	background: #ffffff !important;
	height: 50px !important;
	line-height: 50px !important;
}

.logo-style {
	float: right;
	margin-right: 20px;
	font-size: 1rem;
	font-weight: 500;
}

.ant-alert-banner {
	/* margin-top: 30px !important; */
}

.page-wrapper {
	margin: 20px;
	
}

h1 {
	font-size: 2rem;
	margin-bottom: 4px;
}

p {
	font-size: 1rem;
}

.ant-spin {
	font-size: 1.5rem !important;
}