html,
body {
	background-color: #f0f2f5;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.ant-layout {
	/* background-color: #FFFFFF !important; */
	height: 120vh;
}

.ant-layout-content {
	height: 100vh;
}

.ant-layout-header {
	background: #ffffff !important;
	height: 50px !important;
	line-height: 50px !important;
}

.logo-style {
	float: right;
	margin-right: 20px;
	font-size: 1rem;
	font-weight: 500;
}

.ant-alert-banner {
	/* margin-top: 30px !important; */
}

.page-wrapper {
	margin: 20px;
	min-width: 400px;
}

h1 {
	font-size: 2rem;
	margin-bottom: 8px !important;
}

p {
	font-size: 1rem;
	margin-bottom: 4px !important;
}

.ant-spin {
	font-size: 1.5rem !important;
}

@media (max-width: 500px) {
	.ant-layout {
		width: 650px !important;
	}
}

.ant-layout-sider {
	background-color: #ffffff !important;
}

@media (max-width: 500px) {
	.ant-layout-sider {
		height: 200vh;
		background-color: #f0f2f5 !important;
	}
}
@media (max-width: 500px) {
	.ant-modal-content {
		width: 450px !important;
	}
}

.ant-card-bordered {
}
